<% content_for :title do %>String brands - <%= @string_brand.name %><% end %>
<h2><%= @string_brand.name %></h2>
<br>
<% if !@racquets.empty? %>
    <h3>Racquets</h3>
    <ul>
    <%# iterate over racquets %>
    <% @racquets.each do |racquet| %>
        <%# list racquets %>
        <%= "<li><a href=\"/racquets/#{racquet.id}\">#{racquet.string_brand.name} #{racquet.string_model.name} x #{racquet.string_brand.name} #{racquet.string_model.name}</a></li>" %>
    <% end %>
    </ul>
<% end %>
<% if !@matches.empty? %>
    <% if !@racquets.empty? %>
        <hr>
    <% end %>
    <h3>Matches</h3>
    <ul>
    <%# iterate over matches %>
    <% @matches.each do |match| %>
        <%# list match %>
        <%= "<li>#{formatted_date(match, "long")}: <a href=\"/matches/#{match.id}\">#{match.result.name.downcase} (#{match.score})</a></li>" %>
    <% end %>
    </ul>
<% end %>
<br>
<a href="/strings/brands/<%= @string_brand.slug %>/edit"><button type="button" class="btn btn-primary">Edit string brand</button></a>