<% content_for :title do %>Add match<% end %>
<h2>Add match</h2>
<br>
<form action="/matches" method="POST">
    <%# sport %>
    <label for="sport"><b>Sport</b></label><br>
    <input type="text" list="sports" name="sport" id="sport" required>
    <datalist id="sports">
        <% @sports.order(:name).each do |sport| %>
            <option><%= sport.name %></option>
        <% end %>
    </datalist>
    <br><br>
    <%# opponent %>
    <label for="opponent"><b>Opponent</b></label><br>
    <input type="text" list="opponents" name="opponent" id="opponent" required>
    <datalist id="opponents">
        <% @opponents.order(:name).each do |opponent| %>
            <option><%= opponent.name %></option>
        <% end %>
    </datalist>
    <br><br>
    <%# location %>
    <label for="location"><b>Location</b></label><br>
    <input type="text" list="locations" name="location" id="location" required>
    <datalist id="locations">
        <% @locations.order(:name).each do |location| %>
            <option><%= location.name %></option>
        <% end %>
    </datalist>
    <br><br>
    <%# date %>
    <label id="date_label" for="date"><b>Date</b></label><br>
    <input id="date" type="date" name="date" placeholder="Date" required><br><br>
    <input type="checkbox" id="multiple_days_checkbox" onclick="toggleDates()"> <label for="multiple_days_checkbox">Multiple days</label>
    <br><br>
    <%# racquets %>
    <b>Racquets</b><br>
    <% sport = @racquets.first.sport.name %>
    <em><%= sport %></em><br>
    <% @racquets.each do |racquet| %>
        <%# update sport variable if a new sport's racquets have been reached %>
        <% if racquet.sport.name != sport %>
            <% sport = racquet.sport.name %>
            <%= "<br><em>#{sport}</em><br>" %>
        <% end %>
        <%# list racquet %>
        <input type="checkbox" class="existing_racquet_checkbox" name="racquet_ids[]" id="racquet_<%= racquet.id %>" value="<%= racquet.id %>"> <label for="racquet_<%= racquet.id %>"><%= "#{racquet.frame_brand.name} #{racquet.frame_model.name} x #{racquet.string_brand.name} #{racquet.string_model.name}" %></label><br>
    <% end %>
    <br>
    <%# new racquet(s) %>
    <b>New racquet</b><br>
    <div class = "new_racquet" id="new_racquet_1">
        <em>Frame</em><br>
        <label class="new_racquet_child" for="frame_brand_1">Brand</label>&nbsp;
        <input class="new_racquet_child" type="text" list="frame_brands_1" name="new_racquets[][frame_brand]" id="frame_brand_1">
        <datalist class="new_racquet_child" id="frame_brands_1">
            <% @frame_brands.order(:name).each do |frame_brand| %>
                <option><%= frame_brand.name %></option>
            <% end %>
        </datalist>
        &nbsp;&nbsp;
        <label class="new_racquet_child" for="frame_model_1">Model</label>&nbsp;
        <input class="new_racquet_child" type="text" list="frame_models_1" name="new_racquets[][frame_model]" id="frame_model_1">
        <datalist class="new_racquet_child" id="frame_models_1">
            <% @frame_models.order(:name).each do |frame_model| %>
                <option><%= frame_model.name %></option>
            <% end %>
        </datalist>
        <br><br>
        <em>Strings</em><br>
        <label class="new_racquet_child" for="string_brand_1">Brand</label>&nbsp;
        <input class="new_racquet_child" type="text" list="string_brands_1" name="new_racquets[][string_brand]" id="string_brand_1">
        <datalist class="new_racquet_child" id="string_brands_1">
            <% @string_brands.order(:name).each do |string_brand| %>
                <option><%= string_brand.name %></option>
            <% end %>
        </datalist>
        &nbsp;&nbsp;
        <label class="new_racquet_child" for="string_model_1">Model</label>&nbsp;
        <input class="new_racquet_child" type="text" list="string_models_1" name="new_racquets[][string_model]" id="string_model_1">
        <datalist class="new_racquet_child" id="string_models_1">
            <% @string_models.order(:name).each do |string_model| %>
                <option><%= string_model.name %></option>
            <% end %>
        </datalist>
    </div>
    <br>
    <button type="button" class="navbar-text btn btn-primary" onclick="extraRacquet();">Add another new racquet</button>
    <br><br>
    <%# score %>
    <label for="score"><b>Score</b></label><br>
    <input type="text" name="score" required><br><br>
    <%# result %>
    <label for="result"><b>Result</b></label><br>
    <select name="result" required>
      <option selected="selected"></option>
      <option>Win</option>
      <option>Loss</option>
      <option>Tie</option>
      <option>Incomplete</option>
    </select>
    <br><br>
    <input type="submit" onclick="validateMatchRacquets()" value="Save" class="btn btn-success">
</form>